<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyname</key>
	<string>Doremon chế</string>
	<key>chapter</key>
	<integer>1</integer>
	<key>pages</key>
	<array>
		<dict>
			<key>image</key>
			<string>01.jpg</string>
			<key>text</key>
			<string>Có hại cho sức khoẻ</string>
		</dict>
		<dict>
			<key>image</key>
			<string>02.jpg</string>
			<key>text</key>
			<string>Vấn đề nan giải</string>
		</dict>
		<dict>
			<key>image</key>
			<string>03.jpg</string>
			<key>text</key>
			<string>Bảo vệ môi trường</string>
		</dict>
		<dict>
			<key>image</key>
			<string>04.jpg</string>
			<key>text</key>
			<string>Khổ thân Doremon</string>
		</dict>
		<dict>
			<key>image</key>
			<string>05.jpg</string>
			<key>text</key>
			<string>Vãi cả đố</string>
		</dict>
		<dict>
			<key>image</key>
			<string>06.jpg</string>
			<key>text</key>
			<string>Thánh Nô gọi đồ ăn</string>
		</dict>
		<dict>
			<key>image</key>
			<string>07.jpg</string>
			<key>text</key>
			<string>Triết lý vĩ đại</string>
		</dict>
		<dict>
			<key>image</key>
			<string>08.jpg</string>
			<key>text</key>
			<string>Password :v</string>
		</dict>
		<dict>
			<key>image</key>
			<string>09.jpg</string>
			<key>text</key>
			<string>Khi giáo viên bị phạt</string>
		</dict>
		<dict>
			<key>image</key>
			<string>10.jpg</string>
			<key>text</key>
			<string>Anh ấy không mê tín</string>
		</dict>
		<dict>
			<key>image</key>
			<string>11.jpg</string>
			<key>text</key>
			<string>Nguy hiểm nên FA</string>
		</dict>
		<dict>
			<key>image</key>
			<string>12.jpg</string>
			<key>text</key>
			<string>Hợp tác sản xuất</string>
		</dict>
		<dict>
			<key>image</key>
			<string>13.jpg</string>
			<key>text</key>
			<string>Thánh Nô làm thơ</string>
		</dict>
		<dict>
			<key>image</key>
			<string>14.jpg</string>
			<key>text</key>
			<string>Triết lý về đồng tiền</string>
		</dict>
		<dict>
			<key>image</key>
			<string>15.jpg</string>
			<key>text</key>
			<string>Đàn ông vs Đàn bà</string>
		</dict>
		<dict>
			<key>image</key>
			<string>16.jpg</string>
			<key>text</key>
			<string>Ý nghĩa</string>
		</dict>
		<dict>
			<key>image</key>
			<string>17.jpg</string>
			<key>text</key>
			<string>Quan hệ</string>
		</dict>
		<dict>
			<key>image</key>
			<string>18.jpg</string>
			<key>text</key>
			<string>Khi Mon cuồng</string>
		</dict>
		<dict>
			<key>image</key>
			<string>19.jpg</string>
			<key>text</key>
			<string>Định nghĩa phim</string>
		</dict>
		<dict>
			<key>image</key>
			<string>20.jpg</string>
			<key>text</key>
			<string>Hỏi ông trời</string>
		</dict>
		<dict>
			<key>image</key>
			<string>21.jpg</string>
			<key>text</key>
			<string>Nói</string>
		</dict>
		<dict>
			<key>image</key>
			<string>22.jpg</string>
			<key>text</key>
			<string>Báo mạng</string>
		</dict>
		<dict>
			<key>image</key>
			<string>23.jpg</string>
			<key>text</key>
			<string>Ba vợ của Mon</string>
		</dict>
		<dict>
			<key>image</key>
			<string>24.jpg</string>
			<key>text</key>
			<string>Só đầu tiên</string>
		</dict>
		<dict>
			<key>image</key>
			<string>25.jpg</string>
			<key>text</key>
			<string>Cuộc đời là phù du</string>
		</dict>
		<dict>
			<key>image</key>
			<string>26.jpg</string>
			<key>text</key>
			<string>Nô bị gay ?</string>
		</dict>
		<dict>
			<key>image</key>
			<string>27.jpg</string>
			<key>text</key>
			<string>Ngày tận thế</string>
		</dict>
		<dict>
			<key>image</key>
			<string>28.jpg</string>
			<key>text</key>
			<string>HIện thực phê phán</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Fan cuồng</string>
			<key>image</key>
			<string>29.jpg</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Trung Thu</string>
			<key>image</key>
			<string>30.jpg</string>
		</dict>
	</array>
</dict>
</plist>
